.header {
	background-color:#2d545e;
	color:white;
	text-align:left;
	padding:20px;
	background-image:url("content/banner.jpg");
	background-size:100%;
}

.header form {
	margin-bottom:0;
}

.header a {
	color:white;
}

.header a:hover {
	color:white;
	text-decoration: none;
}

.badges {
	padding:5px;
	font-weight:bold;
	font-size:14pt;
	background-color:#c89666;
}

.badges a:link {
	color:#1C434D;
}

.badges a:visited {
	color:#3E656F;
}

.badges a:hover {
	color:#2d545e;
}

.badges a:active {
	color:#4F767F;
}

.navbar-bg {
	background-color:#e1b382;
	padding:10px;
	padding-right:0px;
}

.navbar-bg button {
	border: none !important;
	text-align:right;
}

.content {
	margin-top:15px;
	margin-bottom:15px;
	padding:20px;
	text-align:justify;
}

.content img {
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

.content h3 {
	text-align:center;
}

.footer {
	background-color:#2d545e;
	color:white;
	text-align:center;
	font-size:10pt;
	padding-top:5px;
	padding-bottom:5px;
}

.fa-1x {
	font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
	cursor: pointer;
}
.dark-blue-text {
	color: #0A38F5;
}
.dark-pink-text {
	color: #AC003A;
}
.dark-amber-text {
	color: #ff6f00;
}
.dark-teal-text {
	color: #004d40;
}


/* Style the list */
ul.breadcrumb {
	margin:0px;
	padding:8px;
	list-style: none;
	background-color:#e1b382;
}

/* Display list items side by side */
ul.breadcrumb li {
	display: inline;
	font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}


.navbar.navbar-7 .navbar-toggler-icon {
	background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=2D545E');
}

.login {
	background-color:WhiteSmoke;
	text-align:center;
	border:dotted;
	border-width:3px;
	border-color:mediumturquoise;
	max-width:70% !important;
	padding-top:20px;
	padding-bottom:20px;
}

.login input {
	width:70%;
}

.wrapper-1 {
	padding-top:10%;
	min-height:80%;
}

.wrapper-2 {
	padding-top:10%;
	min-height:71%;
}

